.next-button {
    background-color: #24292e !important;
    color: white !important;
    font-size: 18px;
    font-weight: bold;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin: 25px 0;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.next-button:hover {
    background-color: white;
    color: #24292e !important;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.quiz-header {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

p {
    display: inline-block;
    font-size: 18px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.right {
    float: right;
    margin-right: 5%;
}
