@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,700);
body {
  background-color: #f8f8f8 !important;
  background-image: url("../../images/simple.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.container {
  width: 80%;
}

.searchbar {
  margin-top: 60px;
}

.searchbarinput {
  width: 100%;
  margin-bottom: 20px;
}

button {
  color: transparent;
  background-color: transparent;
  border: 0px solid #151515;
}

.homeimages {
  padding: 0;
  border: .5px solid black;
  margin: auto;
}

.waitdetail {
  opacity: 0.8;
  color: #fff;
  padding: 3px 0px;
  border-radius: 0px;
  margin-top: 9px;
  background-color: #000;
  text-align: center;
}

.homedetails {
  position: absolute;
  opacity: 0.7;
  top: 0px;
  border-bottom-right-radius: 3px;
  background-color: #000;
  color: #FFF;
  width: auto;
  max-width: 200px;
}

.locationdetail {
  position: absolute;
  opacity: 0.7;
  bottom: 90px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #000;
  color: #FFF;
  width: auto;
}

a:hover {
  text-decoration: none;
  color: #dfc12a;
}

.resultbox {
  padding: 0px 40px;
}

.row.homerow {
  border: 0px solid #000;
  text-align: center;
  font-size: 16px;
}

.homeimg {
  width: 100%;
}

.form-control {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: gray !important;
  font-size: 298% !important;
  text-shadow: none !important;
  text-align: center;
}

/* List */

a {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-variant: all-caps;
  color: #fff;
}
