.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #24292e;
    text-align: center;
    font-size: 12px;
    border-top:1px solid #fff;
}
a {
  color: #fff !important;
}
p {
    margin: 1px;
    margin-top: 4%;
    margin-right: -10%;
    text-shadow: none !important;
}
.hometab {
  padding-top: 10px;
}

.triviatab {
  padding-top: 10px;
}

.signuptab {
  padding-top: 10px;
}

.logintab {
  padding-top: 10px;
}
